<div class="container">
    <h3>ГОТОВЫ СЕГОДНЯ ИЗМЕНИТЬ<br>ЖИЗНЬ ВАШЕГО РЕСТОРАНА?</h3>
    <p>Наши специалисты свяжутся с вами в течение 10 минут</p>
    <h4>{{ settings.feedback_text|linebreaksbr }}</h4>

    <form action="" class="feedback-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-4 left">
                <label>Ваше имя</label>
                <input type="text" name="name" placeholder="Имя">
            </div>

            <div class="col-xs-4 center">
                <label>Ваш адрес электронной почты</label>
                <input type="email" name="email" placeholder="E-mail">

                <div class="submit-container">
                    <input type="submit" value="Отправить заявку">
                    <input type="hidden" name="form_name" value="Оставить завяку">
                    <input type="hidden" name="page" value="{{ page_num }}">
                </div>

                <div class="results">
                    <img src="/static/mainapp/img/loading.gif" class="loading">
                    <div class="message"></div>
                </div>
            </div>

            <div class="col-xs-4 right">
                <label>Ваш телефон</label>

                <table><tr>
                    <td id="fbf-col-1">+7</td>
                    <td id="fbf-col-2"><input type="text" size="3" placeholder="123" maxlength="3" name="phone_code"></td>
                    <td><input type="text" placeholder="4567890" name="phone_number" maxlength="7"></td>
                </tr></table>
            </div>
        </div>
    <form>
</div>
