{% load staticfiles %}

<div class = "full-size-wrapper">

    <!-- Reviews -->

    <div class="reviews">
        <div class="bg"></div>

        <div class="container ">
            <h2 class="dotted-line-header">ОТЗЫВЫ</h2>
            <div class="row">
                <div class="col-xs-6 last-review">
                    {{ last_review }}
                </div>

                <div class="col-xs-6 reviews-list">
                    {{ reviews }}
                </div>
            </div>
        </div>
    </div>

    <!-- Partners -->

    <div class="container partners-header">
        <h2 class="dotted-line-header">ПАРТНЕРЫ</h2>
    </div>

    <div class="partners">

        <div class="container relative">
            <div class="left-bg container">
                <div class="row">
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o4"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o1"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o3"></div></div>
                    <div class="col-xs-2"><div class="partner o2"></div></div>
                    <div class="col-xs-2"><div class="partner o1"></div></div>
                </div>
            </div>

            <div class="right-bg container">
                <div class="row">
                    <div class="col-xs-2"><div class="partner o1"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><div class="partner o1"></div></div>
                    <div class="col-xs-2"><div class="partner o2"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                    <div class="col-xs-2"><div class="partner o0"></div></div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div>
                    <div class="col-xs-2"><div class="partner o4"></div></div>
                </div>
            </div>

            {{ partners }}
        </div>
    </div>

    <div class="container footer-page">
        <div class="row">

            <div class="col-xs-6">
                <h3>Электронная почта</h3>
                <a class="email" href="mailto:{{ settings.email }}">{{ settings.email }}</a>
                <h3>Единый телефон:</h3>
                <a class="tel" href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
                <div class="copy">© Copyright 2012-{% now "Y" %} MenuForYou. Все права защищены</div>
            </div>

            <div class="col-xs-6">
                <div class="socials">
                    <a class="fb" href="{{ settings.fb_url }}" target="_blank"></a>
                    <a class="vk" href="{{ settings.vk_url }}" target="_blank"></a>
                    <a class="tw" href="{{ settings.tw_url }}" target="_blank"></a>
                </div>
            </div>

        </div>
    </div>

</div>
