{% load staticfiles %}

        <!-- load js -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        {% if js_scripts %}
            {% for js in js_scripts %}

                {% with 'mainapp/js/'|add:js|add:'.js' as js_static %}
                    <script src="{% static js_static %}"></script>
                {% endwith %}

            {% endfor %}
        {% endif %}
        <script src="{% static 'mainapp/js/vendors/bootstrap.min.js' %}"></script>

    </body>
</html>
