{% load staticfiles %}
<!doctype html>
<html lang="ru" ng-app="menuforyou">
<head>
    <meta charset="utf-8">
    <title>{{ SITE_NAME }} - {{ PAGE_NAME }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0"/>-->
    <meta name="viewport" content="width=1200, scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="format-detection" content="telephone=no" />
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% static 'mainapp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/jquery.fullpage.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/loader.css' %}" />

    {% if DEBUG %}
        <link rel="stylesheet/less" type="text/less" href="{% static 'mainapp/less/main.less' %}" />

        <!--<script src="{% static 'mainapp/vendors/zepto.min.js' %}"></script>-->
    {% else %}
        <link rel="stylesheet" type="text/css" href="" />
        <script src=""></script>
    {% endif %}

    {% if DEBUG %}
        <script type="text/javascript">
            less = {
                env: 'development',
                poll: 5000,
                logLevel: 0,
            };
        </script>
        <script src="{% static 'mainapp/vendors/less.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
            less.watch();
        </script>
    {% endif %}
</head>
<body>
