<div id="top-menu" class="{{ menu_class }}">

    <div class="container">

        <a href="/" id="logo"></a>

        <ul id="menu">
            <li><a href="/about/">О проекте</a></li>
            <li>
                <a href="#" class="relative">Наши продукты<span class="glyphicon glyphicon-triangle-bottom down-arr"></span></a>
                <ul class="submenu">
                    <li><a href="/projects/mobile-terminal/">Терминал менеджера</a></li><li class="dot"></li>
                    <li><a href="/projects/waiter-terminal/">Терминал официанта</a></li><li class="dot"></li>
                    <li><a href="/projects/mobile-menu/">Меню на планшете</a></li>
                </ul>
            </li>
        </ul>

        <div id="phone">

            <div id="free-call">Бесплатный звонок</div>
            <div id="number">{{ settings.phone }}</div>
            <i>или</i> <a href="#signup" data-toggle = "modal" data-target = "#signup-modal">Закажите обратный звонок</a>

        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form action="/send-mail/" method="post" class="feedback-form">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <h4 class="modal-title" id="myModalLabel">Заказать звонок</h4>

                    <label>Ваше имя</label>
                    <input type="text" placeholder="Имя" name="name">

                    <label>Ваш телефон</label>

                    <table><tr>
                        <td id="fbf-col-1">+7</td>
                        <td id="fbf-col-2"><input type="text" id="feedback-form-phone-code" size="3" placeholder="123" maxlength="3" name="phone_code"></td>
                        <td><input type="text" id="feedback-form-phone-number" placeholder="4567890" maxlength="7" name="phone_number"></td>
                    </tr></table>

                </div>

                <div class="modal-footer">
                    <input type="submit" class="btn-submit-request" value="Отправить заявку">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="form_name" value="Заказать звонок">

                    <div class="results">
                        <img src="/static/mainapp/img/loading.gif" class="loading">
                        <div class="message"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
