{% load thumbnail %}
{% if partners %}

    <div class="row">

    {% for partner in partners %}

        <div class="col-xs-2">

            <a class="partner" href="{{ partner.url }}" target="_blank">
                <!--<img src="{{ partner.logo.url }}" class="logo">-->
                {% thumbnail partner.logo "250x250" format="PNG" as im %}
                    <img src="{{ im.url }}" class="logo">
                {% endthumbnail %}
                <div class="desc">
                    <div class="text">{{ partner.desc }}</div>
                </div>
            </a>

        </div>

    {% endfor %}

    {% for i in range %}

        <div class="col-xs-2">

            <a class="partner" href="#" target="_blank" onclick="return false;">
            </a>

        </div>

    {% endfor %}

    </div>

{% else %}
    <p>Пусто</p>
{% endif %}
