{% if reviews %}

    {% for review in reviews %}
        <h4>{{ review.name }}</h4><div class="date"><div class="separator">|</div>{{ review.date }}</div>
        <div class="clearfix"></div>
        <h3>{{ review.company }}</h3>
        <div class="text">{{ review.text }}</div>
    {% endfor %}

{% else %}
    <p>Пусто</p>
{% endif %}
