{% load thumbnail %}
{% if team %}

    <div class="row">

    {% for employee in team %}

        <div class="col-xs-3 col">

            <div class="photo-wrapper">
                {% thumbnail employee.illustration "202x202" crop="center" as im %}
                    <img src="{{ im.url }}" class="illustration">
                {% endthumbnail %}

                {% thumbnail employee.photo "202x202" crop="center" as im %}
                    <img src="{{ im.url }}" class="photo">
                {% endthumbnail %}
            </div>

            <h4>{{ employee.name }}</h4>
            <h5>{{ employee.post }}</h5>

        </div>

    {% endfor %}

    </div>

{% else %}
    <p>Пусто</p>
{% endif %}
