{{ header }}
{{ menu }}


<div class="about-top-parralax-wrapper">
    <div class="top-parralax-bg parallax-background" parallax-ratio="0.4"></div>
</div>

<div id="about-sector">
    <h1>О проекте</h1>
    <p class="our-target">{{ content.goal|linebreaksbr }}</p>

    <div class="gears">

        <!-- Left -->

        <div class="gear-content" id="about-gear-1">
            <h2>Сайты доставки</h2>
            <h3>на базе электронного меню</h3>
        </div>

        <div class="gear-content" id="about-gear-2">
            <h2>Терминал менеджера</h2>
            <h3>контроль зала</h3>
        </div>

        <div class="gear-content" id="about-gear-3">
            <h2>Терминалы для заказа с собой</h2>
            <h3>для кофеен</h3>
        </div>

        <div class="gear-content" id="about-gear-4">
            <h2>Кухонная<br>дисплейная система</h2>
            <h3>контроль кухни</h3>
        </div>

        <!-- Right -->

        <div class="gear-content" id="about-gear-5">
            <h2>Цифровые вывески</h2>
            <h3>меню на экранах за кассой</h3>
        </div>

        <div class="gear-content" id="about-gear-6">
            <h2>Мобильное<br>приложениедля посетителей</h2>
        </div>

        <div class="gear-content" id="about-gear-7">
            <h2>Терминал официанта</h2>
            <h3>контроль заказов</h3>
        </div>

        <div class="gear-content" id="about-gear-8">
            <h2>Система оплаты через QR-код</h2>
            <h3>в сотрудничестве с payQR</h3>
        </div>

    </div>

</div>

{{ footer_content }}
{{ footer }}
