{% load humanize %}
{{ header }}

<div class="full-size-wrapper">

{{ menu }}

<div class="top-parralax-wrapper">
    <div class="top-parralax-bg parallax-background" parallax-ratio="0.4"></div>
</div>

<div class="bg"></div>
<div class="black-bg"></div>

<!-- Section 1 -->

<div id="section-1">

    <div class="container">

        <div class="row">

            <!-- Left column -->

            <div class="col-xs-7 left">
                <h1>{{ content.section1_header }}</h1>
                <ul>
                    {% if content.section1_q1 %} <li>{{ content.section1_q1 }}</li>{% endif %}
                    {% if content.section1_q2 %} <li>{{ content.section1_q2 }}</li>{% endif %}
                    {% if content.section1_q3 %} <li>{{ content.section1_q3 }}</li>{% endif %}
                </ul>

                <p>{{ content.section1_promo|linebreaksbr }}</p>

                <!--<h2>Уникальная возможность от компании MENUFORYOU</h2>
                <h3>ПРИ ЗАКЛЮЧЕНИИ ДОГОВОРА ДО 30 НОЯБРЯ<br>МЕСЯЦ ОБСЛУЖИВАНИЯ БЕСПЛАТНО</h3>-->
            </div>

            <!-- Right column -->

            <div class="col-xs-5 right">

                <div class="card">
                    <h2>Оставить заявку</h2>
                    <p class="p-1">Наши специалисты свяжутся с вами в течение 10 минут</p>
                    <div class="divider"></div>
                    <h3>Автоматизация ресторана</h3>
                    <p class="p-2">ОТ {{ content.price|intcomma }} <span>руб/месяц</span></p>
                    <div class="divider"></div>
                    <form class="form-container feedback-form">
                        {% csrf_token %}
                        <h3>Ваше имя</h3>
                        <input type="text" name="name" placeholder="Имя">
                        <h3>Ваш адрес электронной почты</h3>
                        <input type="email" name="email" placeholder="E-mail">
                        <h3>Ваш телефон</h3>
                        <table><tr>
                            <td id="fbf-col-1">+7</td>
                            <td id="fbf-col-2"><input type="text" id="feedback-form-phone-code" maxlength="3" placeholder="123" name="phone_code"></td>
                            <td><input type="text" id="feedback-form-phone-number" placeholder="4567890" maxlength="7" name="phone_number"></td>
                        </tr></table>

                        <input type="submit" class="btn-submit-request" value="Отправить заявку">
                        <input type="hidden" name="form_name" value="Оставить завяку">
                        <input type="hidden" name="page" value="1">

                        <div class="results">
                            <img src="/static/mainapp/img/loading.gif" class="loading">
                            <div class="message"></div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

        <div class="footer">

            <h2 class="dotted-line-header">Владельцам и управляющим ресторана</h2>
            <p>{{ content.section1_footer|linebreaksbr }}</p>

        </div>

    </div>

</div>

<div class="top-parralax-wrapper s2">
    <div class="top-parralax-bg parallax-background" parallax-ratio="0.4"></div>
</div>

<!-- Section 2 -->

<div class="tape-section" id="section-2">
    <a href="/projects/mobile-terminal/" class="go"></a>

    <div class="left-tape"></div>
    <div class="right-tape"></div>
    <div class="seam-tape"></div>

    <div class="container">

        <div class="row">

            <div class="col-xs-6 left">
                <h2>МОБИЛЬНЫЙ ТЕРМИНАЛ<br>МЕНЕДЖЕРА</h2>
                <h3>MOBILE MANAGER TERMINAL</h3>
                <p>{{ content.section2_l_text|linebreaksbr }}</p>
                <div class="platforms">доступен на платформах</div>
                <div class="platform-icon ios"></div>
                <div class="platform-icon android"></div>
                <div class="illustration"></div>
            </div>

            <div class="col-xs-6 right">
                <h2>ЛИЧНЫЙ КАБИНЕТ<br>РЕСТОРАТОРА</h2>
                <h3>Restaurateur MEMBERS AREA</h3>
                <p>{{ content.section2_r_text|linebreaksbr }}</p>
                <div class="illustration"></div>
            </div>

        </div>

        <div class="footer">

            <h2 class="dotted-line-header">менеджерам ресторана</h2>
            <p>{{ content.section2_footer|linebreaksbr }}</p>

        </div>

    </div>

</div>

<!-- Section 3 -->

<div class="tape-section" id="section-3">
    <a href="/projects/waiter-terminal/" class="go"></a>

    <div class="left-tape"></div>
    <div class="right-tape"></div>
    <div class="seam-tape"></div>

    <div class="container">

        <div class="row">

            <div class="col-xs-6 left">
                <h2>МОБИЛЬНЫЙ ТЕРМИНАЛ<br>ОФИЦИАНТА</h2>
                <h3>MOBILE WAITER TERMINAL</h3>
                <p>{{ content.section3_l_text|linebreaksbr }}</p>
                <div class="platforms">доступен на платформах</div>
                <div class="platform-icon ios"></div>
                <div class="platform-icon android"></div>
                <div class="illustration"></div>
            </div>

            <div class="col-xs-6 right">
                <h2>КУХОННАЯ ДИСПЛЕЙНАЯ<br>СИСТЕМА</h2>
                <h3>KITCHEN DISPLAY SYSTEM</h3>
                <p>{{ content.section3_r_text|linebreaksbr }}</p>
                <div class="illustration"></div>
            </div>

        </div>

        <div class="footer">

            <h2 class="dotted-line-header">новые каналы продаж</h2>
            <p>{{ content.section3_footer|linebreaksbr }}</p>

        </div>

    </div>

</div>

<!-- Section 4 -->

<div class="tape-section" id="section-4">
    <a href="/projects/mobile-menu/" class="go"></a>

    <div class="left-tape"></div>
    <div class="right-tape"></div>

    <div class="container">

        <div class="row">

            <div class="col-xs-4 left">
                <h2>МЕНЮ НА ПЛАНШЕТЕ</h2>
                <h3>ELECTRONIC MENU</h3>
            </div>

            <div class="col-xs-4 center">
                <h2>ПРИЛОЖЕНИЕ<br>ДЛЯ ГОСТЕЙ</h2>
                <h3>MOBILE APPLICTATION<br>FOR GUESTS</h3>

                <div class="platfoms-block">
                    <div class="platforms">доступен на платформах</div>
                    <div class="clearfix"></div>
                    <div class="platform-icon ios"></div>
                    <div class="platform-icon android"></div>
                </div>
            </div>

            <div class="col-xs-4 right">
                <h2>СЕРВИС ДОСТАВКИ</h2>
                <h3>DELIVERY SERVICE</h3>
            </div>

        </div>

    </div>

</div>

<!-- Feedback -->

<div class="feedback">
    {{ feedback_form }}
</div>

<!-- Video -->

<div class="container video">
    <h4 class="dotted-line-header">ВИДЕО</h4>
    <div>
        <iframe width="100%" height="540" src="{{ content.video_url }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Our Team -->

<div class="container our-team">
    <h2 class="dotted-line-header">НАША КОМАНДА</h4>
    <h3>{{ content.team_header }}</h2>
    <h4>{{ content.team_text|linebreaksbr }}</h3>

    {{ team }}
</div>

</div>

{{ footer_content }}
{{ footer }}
