{% load humanize %}

{{ header }}

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

{{ menu }}

<div class="phone-absolute hide" begin="2" end = "5"></div>
<div id="mobile_terminal">

    <div class="section" id="slide-1" index="1">
        <div class = "bg parallax" parallax-ratio="0.4" slide="#slide-1"></div>

        <div class = "content-wrapper">
            <h1>Мобильный терминал менеджера</h1>
            <h3>Совершенно новый способ контроля официантов</h3>
            <a href="#" id="read-more" class="info-btn">Узнать больше</a>
        </div>
    </div>

    <!-- mobile slides -->

    <div class="section phone-section" id="slide-2" index="2">
        <div class="bg parallax" parallax-ratio="0.4" slide="#slide-2"></div>

        <div class="illustration">
            <div class="illustration-wrapper">
                <div class="parallax-phone phone leave" slide="#slide-2"></div>
            </div>
        </div>

        <div class="content-wrapper">
            <h2>{{ content.screen1_header }}</h2>
            <p>{{ content.screen1_text|linebreaksbr }}</p>
        </div>
    </div>

    <div class="section phone-section" id="slide-3" index="3">
        <div class="bg"></div>

        <div class="illustration">
            <div class="illustration-wrapper">

            </div>
        </div>

        <div class="content-wrapper">
            <h2>{{ content.screen2_header }}</h2>
            <p>{{ content.screen2_text|linebreaksbr }}</p>
        </div>
    </div>

    <div class="section phone-section" id="slide-4" index="4">
        <div class="bg parallax" parallax-ratio="0.4" slide="#slide-4"></div>

        <div class="illustration">
            <div class="illustration-wrapper">

            </div>
        </div>

        <div class="content-wrapper">
            <h2>{{ content.screen3_header }}</h2>
            <p>{{ content.screen3_text|linebreaksbr }}</p>
        </div>
    </div>

    <div class="section phone-section" id="slide-5" index="5">
        <div class="bg"></div>

        <div class="illustration">
            <div class="illustration-wrapper">
                <div class="phone last" slide="#slide-5"></div>
            </div>
        </div>

        <div class="content-wrapper">
            <h2>{{ content.screen4_header }}</h2>
            <p>{{ content.screen4_text|linebreaksbr }}</p>
        </div>
    </div>

    <!-- footer slides -->

    <div class="section" id="slide-6" index="6">
        <div class="bg parallax" parallax-ratio="0.4" slide="#slide-6"></div>
        <div class="feedback">
            <h3 class = "slide-header">Прекрасное средство оперативного контроля официантов в любой точке ресторана.</h3>

            <center><div class = "price-wrapper">
                <div class = "price">Всего за</div><strong class = "price">{{ content.price|intcomma }} руб/месяц</strong>
            </div></center>

            {{ feedback_form }}
        </div>

    </div>

    <!-- Footer -->

    <div class="section" id="slide-7" index="7">
        {{ footer_content }}
    </div>

</div>

{{footer}}
