{% load humanize %}
{% load thumbnail %}

{{ header }}

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

{{ menu }}

<div id="mobile_menu">

    <div class="section" id="slide-1" index="1">
        <div class="bg parallax" parallax-ratio="1" slide="#slide-1"></div>

        <h1>Продавай не меню,<br>а настроение</h1>
        <div class="tablet"></div>
        <a href="#" id="read-more" class="info-btn">Узнать больше</a>

    </div>

    <div class="section" id="slide-2" index="2">
        <h2>Новая реальность</h2>
        <h3>Меню - это не список боюд, а инструмент их продажи</h3>

        <div class="illustration"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <ul>
                        <li data-icon="1">бесполезная бумага</li>
                        <li data-icon="1">бесполезная бумага</li>
                        <li data-icon="1">бесполезная бумага</li>
                        <li data-icon="1">бесполезная бумага</li>
                        <li data-icon="1">по прежнему бесполезная бумага</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul>
                        <li data-icon="2">повышение среднего чека на 20%</li>
                        <li data-icon="3">уменьшение ticket time на 25%</li>
                        <li data-icon="4">система рекомендация</li>
                        <li data-icon="5">рекламная площадка</li>
                        <li data-icon="6">огромный потенциал для дальнейшего развития</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="slide-3" index="3">
        <h2>Эволюция сервиса</h2>
        <h3>Мы открываем для ресторанов новую эпоху</h3>
        <div class="illustration"></div>
        <h4>А где Вы?</h4>
    </div>

    <div class="section" id="slide-4" index="4">
        <h2>Лучше один раз увидеть</h2>

        <div id="gallery">

            <div id="gallery-slick">

                {% for slide in content.tabletslide_set.all %}


                    <div class="illustration">
                        {% thumbnail slide.image "616x384" crop="center" as im %}
                            <div class="photo" style="background: url('{{ im.url }}'); background-size: cover;"></div>
                        {% endthumbnail %}

                        <div class="tablet"></div>
                        <div class="hint-wrapper">
                            <div class="hint">
                                <h3>{{ slide.header }}</h3>
                                <p>{{ slide.text|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>

        </div>
    </div>

    <div class="section" id="slide-5" index="4">
        <h2>Лучше один раз увидеть</h2>
        <iframe width="960" height="500" src="{{ content.video_url }}" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- footer slides -->

    <div class="section" id="slide-6" index="6">
        <div class="bg parallax" parallax-ratio="1" slide="#slide-6"></div>
        <div class="feedback">
            <h3 class = "slide-header">Заставь меню работать</h3>

            <center><div class = "price-wrapper">
                <div class = "price">Всего за</div><strong class = "price">{{ content.price|intcomma }} руб/месяц</strong>
            </div></center>

            {{ feedback_form }}
        </div>

    </div>

    <!-- Footer -->

    <div class="section" id="slide-7" index="7">
        {{ footer_content }}
    </div>

</div>

{{footer}}
