{% load humanize %}
{% load thumbnail %}

{{ header }}

<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

{{ menu }}

<div id="waiter_terminal">

    <div class="section" id="slide-1" index="1">
        <div class="bg parallax" parallax-ratio="0.4" slide="#slide-1"></div>

        <div class="container relative">
            <div class="hand"></div>
            <div class="row relative">

                <div class="col-xs-6"></div>
                <div class="col-xs-6 relative">
                    <div class="content">
                        <h1>Мобильный терминал официанта</h1>
                        <h3>Мы делаем официантов лучше</h3>
                        <a href="#" id="read-more" class="info-btn">Узнать больше</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="section" id="slide-2" index="2">
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="waiter"></div>
                        <div class = "content">
                            <h2>{{ content.screen1_header }}</h2>
                            <h3>{{ content.screen1_quote|linebreaksbr }}</h3>
                            <p>{{ content.screen1_u_quote|linebreaksbr }}</p>
                            <h4>{{ content.screen1_text|linebreaksbr }}</h4>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="phone leave"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="slide-3" index="3">

        <div class="relative">
            <div class="phone-2"></div>
        </div>

        <div id="gallery-slick">

            {% for slide in content.waiterslide_set.all %}

                <div class="illustration">
                    <div class="phone">
                        {% thumbnail slide.image "153x270" crop="center" quality=65 as im %}
                            <div class="image" style="background: url('{{ im.url }}'); background-size: cover;"></div>
                        {% endthumbnail %}
                    </div>

                    <div class="container">
                        <h3>{{ slide.header }}</h3>
                        <p>{{ slide.text|linebreaksbr }}<p>
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>

    <div class="section" id="slide-4" index="4">
        <div class="container">
            <h2>Лучше один раз увидеть</h2>
            <iframe width="960" height="500" src="{{ content.video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- footer slides -->

    <div class="section" id="slide-5" index="5">
        <div class="bg parallax" parallax-ratio="0.4" slide="#slide-5"></div>
        <div class="feedback">
            <h3 class = "slide-header">Прекрасное средство оперативного контроля официантов в любой точке ресторана.</h3>

            <center><div class = "price-wrapper">
                <div class = "price">Всего за</div><strong class = "price">{{ content.price|intcomma }} руб/месяц</strong>
            </div></center>

            {{ feedback_form }}
        </div>

    </div>

    <!-- Footer -->

    <div class="section" id="slide-6" index="6">
        {{ footer_content }}
    </div>

</div>

{{footer}}
