.about-top-parralax-wrapper {
	width: 100%;
	height: 920px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

#about-sector {
	height: 820px;
	margin-top: 160px;
	position: relative;

	h1 {
		font-weight: bold;
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 15px;
	}

	.our-target {
		font-family: arial;
		font-size: 21px;
		font-weight: 500;
		width: 790px;
		margin: auto;
		text-align: center;
	}

	.gears {
		width: 455px;
		height: 452px;
		position: relative;
		margin: auto;
		margin-top: 40px;
		background: url("@{static}/img/about-gears.png") no-repeat;

		.gear-content {
			position: absolute;
			width: 180px;

			h2 {
				font-size: 18px;
				font-weight: bold;
				margin-top: 0px;
				text-transform: none;
				text-align: left;
				margin: 0px;
				margin-bottom: 3px;
			}

			h3 {
				font-size: 14px;
				font-weight: lighter;
				margin: 0px;
			}
		}

		#about-gear-1, #about-gear-2, #about-gear-3, #about-gear-4 {
			h2, h3 {
				text-align: right;
			}
		}

		#about-gear-1 { top: 384px; left: -66px;  }
		#about-gear-2 { top: 290px; left: -178px; }
		#about-gear-3 { top: 138px; left: -192px; }
		#about-gear-4 { top: 27px;  left: -98px;  }

		#about-gear-5 { top: 27px;  right: -86px;  }
		#about-gear-6 { top: 118px; right: -192px; }
		#about-gear-7 { top: 270px; right: -192px; }
		#about-gear-8 { top: 365px; right: -104px; }

	}

}
