// == FONT =========================================================
@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 200;
	src: url(/static/mainapp/fonts/circe-light.ttf) format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 400;
	src: url(/static/mainapp/fonts/circe-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-style: bold;
	font-weight: 800;
	src: url(/static/mainapp/fonts/circe-bold.ttf) format('truetype');
}

// == RESET =========================================================
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// == CLEARFIX ======================================
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


// == BASICS ======================================
body {
	color: white;
	background:
		url(/static/mainapp/img/slide3-bgr.png) no-repeat center 1960px,
		url(/static/mainapp/img/slide1-bgr2.png) no-repeat center 960px,
		url(/static/mainapp/img/slide1-bgr.jpg) no-repeat center top;
	background-color: black;
	font-family: Arial, sans-serif;
	padding-top: 145px;
	font-weight: 300;
	font-size: 12px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Circe';
}

input {
	box-sizing: border-box;
	border: none;
	padding: 5px;
	font-size: 1.1rem;
}

// == TOP MENU ======================================
#top-menu {
	height: 100px;
	background: rgba(0,0,0,0.4);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;

	#logo {
		width: 150px;
		height: 28px;
		background: url(/static/mainapp/img/logo.png) no-repeat;
		position: fixed;
		left: 50%;
		margin-left: -475px;
		top: 40px;
	}
}


// == SECTON BASE ======================================
section {
	min-height: 500px;

	.inner-wrapper {
		margin: 0 auto;
		box-sizing: border-box;
	}

	.dotted-line-header {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 500;
		margin-bottom: 30px;

		&:after {
			content: '';
			position: absolute;
			width: 115px;
			height: 1px;
			border-top: 1px dotted rgba(255,2552,255,0.4);
			top: 10px;
			left: 0;
		}

		&:before {
			content: '';
			position: absolute;
			width: 115px;
			height: 1px;
			border-top: 1px dotted rgba(255,2552,255,0.4);
			top: 10px;
			right: 0;
		}
	}

	.btn-submit-request {
		margin-top: 20px;
		display: block;
		width: 100%;
		border: 0;
		background: #eeae00;
		line-height: 46px;
		font-size: 1.5rem;
		font-weight: 500;
		color: white;
		font-family: 'Circe';

		&:disabled {
			background: #aaa;
			color: #888;
		}
	}



}




#section-1 {
	min-height: 1100px;

	.inner-wrapper {
		width: 990px;
		padding: 0 20px;
	}


	p {
		line-height: 1.4;
		font-size: 0.9rem;
	}

	.left-column {
		margin-right: 430px;
		padding-top: 25px;

		h1 {
			font-size: 2.2rem;
			font-weight: 800;
			margin-bottom: 35px;
			line-height: 1.2;
		}

		li {
			padding-left: 65px;
			font-size: 1.3rem;
			line-height: 60px;
			margin-bottom: 30px;
		}

		li:nth-child(1) {
			background: url(/static/mainapp/img/slide1-icons.png) no-repeat 0px 5px;
		}

		li:nth-child(2) {
			background: url(/static/mainapp/img/slide1-icons.png) no-repeat 0px -70px;
		}

		li:nth-child(3) {
			background: url(/static/mainapp/img/slide1-icons.png) no-repeat 0px -151px;
		}

		p {
			margin-bottom: 30px;
		}

		h2 {
			font-size: 1rem;
			text-transform: uppercase;
			margin-bottom: 5px;
		}

		h3 {
			color: #eead00;
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 1.2;
		}
	}

	.right-column {
		float: right;
		width: 410px;
		height: 610px;
		background: url(/static/mainapp/img/slide1-form-bgr.png) no-repeat right top;
		box-sizing: border-box;
		padding: 20px 20px 0px 40px;
		position: relative;

		h1 {
			font-size: 1.6rem;
			font-weight: 800;
			margin-bottom: 5px;
		}

		.p-1 {
			font-size: 0.8rem;
			padding-right: 110px;
			margin-bottom: 10px;
			line-height: 1.1;
		}

		.divider {
			height: 1px;
			border-top: 1px dotted rgba(255,2552,255,0.5);
			margin-bottom: 10px;
			box-sizing: border-box;
		}

		h3 {
			font-size: 1.1rem;
			font-weight: 800;
		}

		.p-2 {
			font-size: 1.9rem;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 10px;

			span {
				font-size: 0.8rem;
				font-weight: 300;
				vertical-align: text-top;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 70px;
			height: 84px;
			left: -9px;
			top: 510px;
			background: url(/static/mainapp/img/slide1-arrow.png) no-repeat;
		}

		.form-container {
			position: absolute;
			left: 40px;
			top: 185px;
			right: 20px;

			h2 {
				font-size: 1.3rem;
				font-weight: 500;
				margin-bottom: 12px;
			}

			input {
				width: 100%;
				margin-bottom: 25px;

				&:nth-of-type(2) {
					margin-bottom: 36px;
				}
			}

		}
	}

	.footer {
		margin-top: 50px;

		p {
			font-size: 1.3rem;
			line-height: 1.4;
			text-align: center;
		}
	}
}


#section-2 {
	min-height: 920px;
	background:
		url(/static/mainapp/img/slide2-base.png) no-repeat center 0;

	.inner-wrapper {
		width: 958px;
		padding-top: 100px;

	}

	.right-column, .left-column {
		h1 {
			font-size: 1.8rem;
			font-weight: 600;
			font-family: 'Circe';
		}

		h2 {
			font-size: 1.1rem;
			text-transform: uppercase;
			font-family: 'Circe';
			margin-bottom: 20px;
		}

		p {
			font-size: 0.9rem;
			line-height: 1.4;
		}
	}

	.left-column {
		margin-right: 430px;
	}

	.right-column {
		float: right;
		width: 410px;
	}

	.footer {
		margin-top: 270px;

		p {
			font-size: 1.3rem;
			line-height: 1.4;
			text-align: center;
		}
	}

}






#section-3 {
	min-height: 1000px;
	background:
		url(/static/mainapp/img/slide4-bgr.png) no-repeat center 750px,
		url(/static/mainapp/img/slide3-base.png) no-repeat center 0,
		url(/static/mainapp/img/main-page-bgr.png) repeat-x 0 50px;

	.inner-wrapper {
		width: 950px;
		padding-top: 100px;

	}

	.right-column, .left-column {
		h1 {
			font-size: 1.8rem;
			font-weight: 600;
			font-family: 'Circe';
		}

		h2 {
			font-size: 1.1rem;
			text-transform: uppercase;
			font-family: 'Circe';
			margin-bottom: 20px;
		}

		p {
			font-size: 0.9rem;
			line-height: 1.4;
		}
	}

	.left-column {
		margin-right: 480px;
	}

	.right-column {
		float: right;
		width: 440px;
	}

	.footer {
		margin-top: 270px;

		p {
			font-size: 1.3rem;
			line-height: 1.4;
			text-align: center;
		}
	}

}










#section-4 {
	min-height: 470px;
	background: url(/static/mainapp/img/slide4-base.png) no-repeat center 0,
		url(/static/mainapp/img/slide4-bgr.png) no-repeat center -300px,
		url(/static/mainapp/img/main-page-bgr.png);

	.inner-wrapper {
		width: 950px;
		padding-top: 80px;

	}

	.right-column, .left-column, .center-column {
		h1 {
			font-size: 1.8rem;
			font-weight: 600;
			font-family: 'Circe';
			text-align: center;
		}

		h2 {
			font-size: 1.1rem;
			text-transform: uppercase;
			font-family: 'Circe';
			text-align: center;
		}

	}

	.left-column {
		width: 340px;
	}

	.center-column {
		width: 330px;
		float: right;

		h2 {
			margin-top: 20px;
		}
	}

	.right-column {
		float: right;
		width: 300px;
	}
}



#section-5 {
	min-height: 1000px;
	box-sizing: border-box;
	background: url(/static/mainapp/img/main-page-bgr.png);

	.inner-wrapper {
		width: 950px;
		margin: 0 auto;
	}

	.form-container {
		background: #218e76;
		padding: 50px;

		h1 {
			font-size: 2.8rem;
			font-weight: 800;
			text-transform: uppercase;
			font-family: 'Circe';
			text-align: center;
			margin-bottom: 20px;
		}

		p {
			font-size: 1rem;
			font-weight: 300;
			text-align: center;
			margin-bottom: 20px;
		}

		h3 {
			font-size: 1.6rem;
			font-weight: 800;
			text-transform: uppercase;
			font-family: 'Circe';
			text-align: center;
			color: black;
		}

		.column {
			width: 33.3%;
			margin: 0;
			float: left;
		}

		label {
			display: block;
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 15px;
		}

		input {
			width: 85%;
		}

		.btn-submit-request {
			width: 300px;
			margin: 0 auto;
			margin-top: 30px;
		}
	}

	.dotted-line-header {
		margin-top: 40px;
		margin-bottom: 40px;
	}

}
