/* Feedback form */

.feedback {

	margin-top: 50px;

	.container {
		background: #218e76;
	}

	h3 {
		font-size: 48px;
		text-align: center;
		font-weight: bold;
		margin-top: 45px;
	}

	p {
		font-size: 15px;
		font-family: arial;
		text-align: center;
	}

	h4 {
		font-size: 26px;
		color: #000;
		font-weight: bold;
		text-align: center;
	}

	label {
		display: block;
		font-size: 18px;
		font-weight: bold;
	}

	.row {
		padding: 0px 40px;
		margin-top: 40px;
	}

	.col {
		float: left;
		font-size: 15px;
		font-family: arial;
		margin-right: 5px;
		line-height: 30px;
	}

	table {
		width: 100%;
		font-size: 15px;
		font-family: arial;

		td {
			padding-right: 5px;

			&:nth-child(1) {
				width: 15px;
			}

			&:nth-child(2) {
				width: 47px;
				input {
					padding: 0px 7px;
				}
			}

			&:nth-child(3) { padding: 0px; }
		}

	}

	input[type=text],input[type=email] {
		width: 100%;
		border: 0px;
		border: 1px solid #fff;
		outline: none;
		font-family: arial;
		font-size: 15px;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
		color: #000;

		&:nth-of-type(2) {
			margin-bottom: 34px;
		}

		&:focus {
			border: 1px solid #c5951c;
		}
	}

	.center, .left, .right {
		position: relative;
		height: 170px;
	}

	.rules-check-block {
		font-size: 12px;
		font-weight: 500;
		position: absolute;
		top: 84px;

		.checkbox {
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 1px solid #fff;
			margin: 0px;
			margin-right: 5px;
		}

		a {
			color: #fff !important;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.right {
		.rules-check-block {
			left: -15px;
		}
	}

	.submit-container {
		position: absolute;
		bottom: -25px;
		left: 0px;
		width: 100%;
		padding: 0 15px;

		input[type=submit] {

			outline: none;
			height: 48px;
			border: none;
			background-color: #eeae00;
			color: #fff;
			font-weight: bold;
			font-size: 24px;
			cursor: pointer;
			width: 100%;
			margin-top: 20px;
			transition: background-color 0.2s linear, color 0.2s linear;

			&:hover {
				background-color: #c5951c
			}

		}
	}

	///

	h3.slide-header {
		font-size: 30px;
		font-weight: 500;
		text-transform: uppercase;
		width: 800px;
		margin: auto;
	}

	.price {
		font-size: 30px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		float: left;
	}

	strong.price {
		font-size: 48px;
		margin-top: -13px;
		margin-left: 16px;
		font-weight: 600;
	}

	.price-wrapper {
		display: inline-block;
		margin-top: 45px;
		margin-bottom: 25px;
	}

}

@media screen and (max-height: 768px) {

	.feedback {

		h3 {
			font-size: 32px;
			margin-top: 20px;
		}

		.row {
			margin-top: 20px;
		}

		h3.slide-header, .price {
			font-size: 24px;
		}

		h3.slide-header {
			margin-top: 100px
		}

		strong.price {
			font-size:  36px;
		}

		.left, .center, .right {
			height: 140px;

			.results {
				margin-top: 5px;
			}
		}

		.price-wrapper {
			margin-top: 10px;
			margin-bottom: 10px;
		}

	}

}
