
.top-parralax-wrapper {
	width: 100%;
	height: 1280px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;

	&.s2 {
		top: 960px;
		z-index: -3;
	}
}

.black-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: #000;
	height: 2300px;
	z-index: -3;
}

.dotted-line-header {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 16px;

	&:after {
		content: '';
		position: absolute;
		width: 115px;
		height: 1px;
		border-top: 1px dotted rgba(255,2552,255,0.4);
		top: 10px;
		left: 0;
	}

	&:before {
		content: '';
		position: absolute;
		width: 115px;
		height: 1px;
		border-top: 1px dotted rgba(255,2552,255,0.4);
		top: 10px;
		right: 0;
	}
}

.tape-section {
	overflow: hidden;

	.go {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 356px;
		z-index: 9;
	}

	.platforms {
		color: rgba(255,255,255,0.5);
		float: left;
		font-size: 14px;
		font-weight: 500;
		padding-top: 5px;
	}

	.platform-icon {
		width: 27px;
		height: 27px;
		float: left;
		background: url("@{static}/img/platfoms.png") no-repeat;
		margin-left: 10px;

		&.android { background-position: -27px 0; }
	}

	.left-tape {
		position: absolute;
		width: 50%;
		left : 0px;
		top: 0px;
		z-index: -1;
		height: 356px;
	}

	.right-tape {
		position: absolute;
		width: 50%;
		right : 0px;
		top: 33px;
		z-index: -1;
		height: 356px;
	}
}

.bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
	width: 100%;
	height: 1960px+300px;
	overflow: hidden;
	background:
		url("@{static}/img/slide3-bgr.png") no-repeat center 1960px,
		url("@{static}/img/slide1-bgr2.png") no-repeat center 960px;
}

.top-parralax-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
	width: 100%;
	height: 1280px;
	background: url("@{static}/img/slide1-bgr.jpg") no-repeat center top;
}

/* Section 1 */

#section-1 {

	padding-bottom: 280px;
	padding-top: 145px;

	/* Right column */

	.right {
		.card {
			float: right;
			width: 410px;
			height: 610px;
			background: url("@{static}/img/slide1-form-bgr.png") no-repeat right top;
			padding: 20px 20px 0px 40px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				width: 70px;
				height: 84px;
				left: -9px;
				top: 510px;
				background: url("@{static}/img/slide1-arrow.png") no-repeat;
			}
		}

		h2 {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 5px;
			margin-top: 5px;
		}

		.p-1 {
			font-size: 14px;
			font-family: arial;
			padding-right: 110px;
			margin-bottom: 10px;
			line-height: 1.1;
		}

		.divider {
			height: 1px;
			border-top: 1px dotted rgba(255,2552,255,0.5);
			margin-bottom: 10px;
			box-sizing: border-box;
		}

		h3 {
			font-family: arial;
			font-weight: bold;
			font-size: 14px;
			margin: 0px;
		}

		.p-2 {
			font-size: 30px;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 0px;
			font-family: 'Circe';

			span {
				font-size: 14px;
				font-weight: 300;
				vertical-align: text-top;
				font-family: arial;
			}
		}

		.form-container {
			position: absolute;
			left: 40px;
			top: 185px;
			right: 20px;

			h2, h3 {
				margin: 0px;
				font-size: 21px;
				font-weight: bold;
				margin-bottom: 12px;
			}

			input[type=text],input[type=email] {
				width: 100%;
				margin-bottom: 24px;
				border: 0px;
				border: 1px solid #fff;
				outline: none;
				font-family: arial;
				font-size: 15px;
				height: 30px;
				line-height: 30px;
				padding: 0px 10px;
				color: #000;

				&:nth-of-type(2) {
					margin-bottom: 34px;
				}

				&:focus {
					border: 1px solid #c5951c;
				}
			}

			table {
				width: 100%;
				font-size: 15px;
				font-family: arial;
				margin-bottom: 24px;

				td {
					padding-right: 5px;
					input {
						margin-bottom: 0px !important;
					}

					&:nth-child(1) {
						width: 15px;
					}

					&:nth-child(2) {
						width: 47px;
						input {
							padding: 0px 7px;
						}
					}

					&:nth-child(3) { padding: 0px; }
				}

			}

			.results {
				text-align: center;
				margin-bottom: 30px;
				height: 0px;
				overflow: hidden;
				position: relative;
				margin-top: 16px;

				.message {
					position: absolute;
					width: 100%;
					height: 50px;
					line-height: 50px;
					top: 0px;
					left: 0px;
					opacity: 0;
					color: #B3FBC4;
					font-weight: 500;
					font-size: 21px;
				}

				.loading {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-left: -12px;
					margin-top: -12px;
					opacity: 0;
				}

				.error {
					color: #FBB3B3;
				}

			}

			.btn-submit-request {

				outline: none;
				height: 48px;
				border: none;
				background-color: #eeae00;
				color: #fff;
				font-weight: bold;
				font-size: 24px;
				cursor: pointer;
				width: 100%;
				margin-top: 20px;
				transition: background-color 0.2s linear, color 0.2s linear;

				&:hover {
					background-color: #c5951c
				}

			}

		}

	}

	.footer {
		margin-top: 40px;

		p {
			font-size: 21px;
			line-height: 1.4;
			font-family: arial;
			text-align: center;
		}
	}

	/* Left column */

	.left {
		padding-top: 25px;

		h1 {
			font-size: 36px;
			font-weight: 800;
			margin-bottom: 25px;
			line-height: 1.2;
			margin-top: 0px;
		}

		h2 {
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 5px;
			font-weight: lighter;
		}

		h3 {
			color: #eead00;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 1.2;
			margin-top: 0px;
		}

		ul {
			list-style: none;
			padding: 0px;
		}

		li {
			padding-left: 65px;
			font-size: 21px;
			line-height: 60px;
			margin-bottom: 25px;
			font-family: arial;

			&:nth-child(1) { background: url("@{static}/img/slide1-icons.png") no-repeat 0px  5px;   }
			&:nth-child(2) { background: url("@{static}/img/slide1-icons.png") no-repeat 0px -70px;  }
			&:nth-child(3) { background: url("@{static}/img/slide1-icons.png") no-repeat 0px -151px; }
		}

		p {
			font-size: 16px;
			font-family: arial;
			margin-bottom: 30px;
		}

	}

}

/* Section 2 */

#section-2, #section-3 {
	min-height: 920px;
	position: relative;
	padding-top: 80px;

	.illustration {
		background: url("@{static}/img/tape-devices.png") no-repeat;
		position: absolute;
		top: 206px;
		left: 15px;
	}

	.seam-tape {
		background: url("@{static}/img/tape-seam.png") no-repeat;
		width: 70px;
		height: 389px;
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -35px;
	}

	.left-tape  { background: #218e76; }
	.right-tape { background: #34ad5a; }

	.left, .right {
		position: relative;
		h2 {
			font-size: 28px;
			font-weight: 600;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		h3 {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 20px;
			margin-top: 0px;
		}

		p {
			font-size: 15px;
			line-height: 1.4;
			font-family: arial;
		}
	}

	.left {
		padding-right: 60px;
	}

	.right {
		padding-left: 100px;
	}

	.footer {
		margin-top: 270px;

		p {
			font-size: 21px;
			line-height: 1.4;
			text-align: center;
			font-family: arial;
		}
	}

}

#section-2 {
	.left .illustration {
		width: 100px;
		height: 187px;
	}

	.right .illustration {
		width: 322px;
		height: 187px;
		left: 62px;
		background-position: -100px 0;
	}
}

#section-3 {
	.left .illustration {
		width: 100px;
		height: 227px;
		background-position: 0 -187px;
	}

	.right .illustration {
		width: 322px;
		height: 227px;
		left: 92px;
		background-position: -100px -187px;
	}

	.seam-tape {
		background-position: 0 -389px;
	}
}

/* Section 3 */

#section-3 {
	margin-top: 75px;
	min-height: 978px;
	position: relative;
	background:
		url("@{static}/img/slide4-bgr.png") no-repeat center 720px;
		//url("@{static}/img/slide3-base.png") no-repeat center 0;
	position: relative;

	.left-tape  { background: #d35400; }
	.right-tape { background: #c0392b; }

	.bg {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 1000px;
		z-index: -3;
		//background: url("@{static}/img/main-page-bgr.png") repeat-x 0 50px;
	}

}

/* Section 4 */

#section-4 {
	padding-top: 70px;
	min-height: 470px;
	position: relative;
	background: url("@{static}/img/slide4-base.png") no-repeat center 0,
		url("@{static}/img/slide4-bgr.png") no-repeat center -283px;

	.left-tape  { background: #3498db; margin-left: -200px; }
	.right-tape { background: #0c5b7c; top: 0px; margin-right: -200px; }

	.bg {
		position: absolute;
		left: 0px;
		top: -100px;
		width: 100%;
		height: 1000px;
		z-index: -3;
		//background: url("@{static}/img/main-page-bgr.png") repeat-x 0 50px;
	}

	.left, .right, .center {
		text-align: center;
		h2 {
			font-size: 28px;
			font-weight: 600;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		h3 {
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 20px;
			margin-top: 0px;
		}

		p {
			font-size: 15px;
			line-height: 1.4;
			font-family: arial;
		}
	}

	.center {
		h2 {
			margin-bottom: 10px;
			margin-right: -14px;
		}
		h3 {
			margin-bottom: 5px;
		}

		.platfoms-block {
			margin-left: -12px;
		}
	}

	.platforms {
		float: none;
	}

	.platform-icon {
		float: none;
		display: inline-block;
	}

}

.our-team {
	margin-top: 40px;
	position: relative;

	h3 {
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	h4 {
		font-size: 21px;
		font-family: arial;
		text-align: center;
		font-weight: 500;
		padding: 0px 150px;
	}

	.row {
		position: relative;
		margin-top: 40px;

		h4, h5 {
			text-align: center;
			font-style: italic;
			font-family: arial;
			font-size: 16px;
			font-weight: 500;
			text-transform: none;
			margin: 0px;
			padding: 0px;
		}

		.col {
			height: 300px;
			position: relative;
		}

		.photo-wrapper {
			position: relative;
			height: 220px;
			width: 202px;
			margin: auto;

			.photo, .illustration {
				position: absolute;
				width: 202px;
				height: 202px;
				top: 0px;
				left: 50%;
				margin-left: -101px;
				border-radius: 50%;
				cursor: pointer;
			}

			.photo {
				transition: opacity 0.3s ease;
				opacity: 0;
			}

			&:hover {

				.photo {
					opacity: 1;
				}

			}
		}
	}
}

/* Reviews */

.reviews {
	position: relative;
	margin-top: 35px;

	.bg {
		background: url("@{static}/img/reviews-bg.png") repeat-x;
		position: absolute;
		width: 100%;
		height: 435px;
		left: 0px;
		bottom: -20px;
		top: auto;
	}

	.row {
		margin-top: 60px;
	}

	.last-review {
		position: relative;

		.text {
			position: relative;
			padding-left: 80px;
			padding-right: 40px;
			font-size: 30px;
			font-weight: 500;
			color: #d1d3d4;

			&::before {
				background: url("@{static}/img/quote.png") no-repeat;
				position: absolute;
				top: 0px;
				left: 0px;
				content: "";
				width: 20px;
				height: 17px;
			}
		}

		h3, h4 {
			padding-left: 80px;
		}

		h4 {
			font-size: 12px;
			font-style: italic;
			font-family: arial;
			margin-bottom: 5px;
			margin-top: 20px;
		}

		h3 {
			font-size: 16px;
			font-weight: bold;
			font-family: arial;
			margin-top: 0px;
		}
	}

	.reviews-list {

		padding-left: 40px;

		h4 {
			margin-top: 5px;
			font-size: 14px;
			font-weight: 500;
			font-family: arial;
			font-style: italic;
			float: left;
		}

		.date {
			float: left;
			font-size: 14px;
			font-weight: 500;
			font-family: arial;
			padding-top: 2px;

			.separator {
				display: inline-block;
				margin: 0px 15px;
			}
		}

		h3 {
			font-size: 14px;
			font-weight: bold;
			font-family: arial;
			margin-top: 0px;
		}

		.text {
			color: #d1d3d4;
			font-size: 14px;
			margin-top: 20px;
			margin-bottom: 20px;
			font-weight: 500;
		}

	}

}

/* Partners */

.partners-header {
	margin-top: 50px;
}

.partners {
	position: relative;

	.row {
		padding: 0px 11px;
	}

	.col-xs-2 {
		width: 20%;
		padding: 4px 4px;

		.partner {
			background: #fff;
			height: 10px;
			display: block;
			position: relative;

			.desc {
				position: absolute;
				opacity: 0;
				background-color: rgba(255,255,255,0.95);
				width: 100%;
				height: 100%;
				left: 0px;
				top: 0px;
				transition: background-color 0.3s linear, opacity 0.3s linear;
				color: #000;
				font-family: arial;
				font-size: 12px;
				font-style: italic;
				padding: 10px;
			}

			.logo {
				position: absolute;
			}

			&:hover {
				.desc {
					opacity: 1;
				}
			}
		}
	}

	.left-bg, .right-bg {
		.o0 { opacity: 0; }
		.o1 { opacity: 0.42; }
		.o2 { opacity: 0.16; }
		.o3 { opacity: 0.06; }
		.o4 { opacity: 0.02; }
	}

	.left-bg {
		position: absolute;
		top: 0px;
		right: 100%;
		margin-right: -6px;
		padding: 0px;
	}

	.right-bg {
		position: absolute;
		top: 0px;
		left: 100%;
		margin-left: -6px;
		padding: 0px;
	}
}

/* Footer */

.footer-page {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #d35400;

	h3 {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 0px;
	}

	a {
		font-family: arial;
		font-weight: bold;
		font-size: 16px;
		color: #d35400 !important;
		text-decoration: none;
	}

	.email {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.copy {
		margin-top: 20px;
		font-size: 14px;
		font-family: arial;
	}

	.socials {
		margin: auto;
		width: 200px;
		text-align: center;
		margin-top: 60px;

		a {
			width: 50px;
			height: 50px;
			display: inline-block;
			opacity: 0.75;
			transition: opacity 0.2s linear;
			background: url("@{static}/img/socials.png") no-repeat;
			margin: 0px 5px;

			&.vk { background-position: -50px 0; }
			&.tw { background-position: -100px 0; }

			&:hover {
				opacity: 1;
			}
		}
	}
}

.video {
	margin-top: 100px
}
