@static: "/static/mainapp";

/* Fonts */

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 200;
	src: url("@{static}/fonts/circe-light.ttf") format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 400;
	src: url("@{static}/fonts/circe-regular.ttf") format('truetype');
}

@font-face {
	font-family: 'Circe';
	font-style: bold;
	font-weight: 800;
	src: url("@{static}/fonts/circe-bold.ttf") format('truetype');
}

@import "menu.less";
@import "feedback.less";
@import "home.less";
@import "about.less";
@import "mobile_terminal.less";
@import "waiter_terminal.less";
@import "mobile_menu.less";

/* Main */

body {
	color: white;
	background: url("@{static}/img/main-page-bgr.png");
	background-color: #000;
	//font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 12px;
	font-family: 'Circe';
	overflow-x: hidden;
}

.full-size-wrapper {
	width: 100%;
	overflow: hidden;
}

.relative {
	position: relative;
}

.section {
	overflow: hidden;
}

.parallax {
	transition: all 1.0s;
}

/* Modal */

.modal-backdrop {
	background-color: #417e71;
	&.fade.in { opacity: 0.7; }
}

.btn-submit-request {

	outline: none;
	height: 48px;
	border: none;
	background-color: #eeae00;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
	transition: background-color 0.2s linear, color 0.2s linear;

	&:hover {
		background-color: #c5951c
	}

}

.modal {

	.modal-dialog {
		width: 600px;
		margin-top: 200px;
	}

	.modal-content {
		background: #228e76;
		border-radius: 0;
		border: none;
	}

	.modal-header, .modal-body, .modal-footer {
		background: none;
		border: none;
	}

	.modal-body, .modal-footer {
		width: 270px;
		margin: auto;
		padding: 0px;
	}

	.btn-submit-request {
		margin-bottom: 20px;
		margin-top: 40px;
	}

	.results {
		text-align: center;
		margin-bottom: 30px;
		height: 0px;
		overflow: hidden;
		position: relative;

		.message {
			position: absolute;
			width: 100%;
			height: 50px;
			line-height: 50px;
			top: 0px;
			left: 0px;
			opacity: 0;
			color: #B3FBC4;
			font-weight: 500;
			font-size: 21px;
		}

		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -12px;
			margin-top: -12px;
			opacity: 0;
		}

		.error {
			color: #FBB3B3;
		}

	}

	.close {
		width: 21px;
		height: 21px;
		background: url("@{static}/img/close.jpg") no-repeat;
		opacity: 1;
		transition: opacity 0.3s;
		outline: none !important;

		&:hover {
			opacity: 0.5;
		}
	}

	.modal-body {
		padding: 0px;
	}

	h4 {
		font-size: 26px;
		font-weight: 800;
		margin-bottom: 0px;
		margin-top: 0px;
		text-align: center;
		text-transform: uppercase;
	}

	label {
		display: block;
		font-size: 18px;
		font-weight: bold;
		margin-top: 10px;
	}

	input[type=text],input[type=email] {
		width: 100%;
		border: 0px;
		border: 1px solid #fff;
		outline: none;
		font-family: arial;
		font-size: 15px;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
		color: #000;
		font-weight: normal;

		&:focus {
			border: 1px solid #c5951c;
		}
	}

	table {
		width: 100%;
		font-size: 15px;
		font-family: arial;

		td {
			padding-right: 5px;

			&:nth-child(1) {
				width: 15px;
			}

			&:nth-child(2) {
				width: 47px;
				input {
					padding: 0px 7px;
				}
			}

			&:nth-child(3) { padding: 0px; }
		}

	}
}

.feedback-form {
	.results {
		text-align: center;
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
		margin-top: 18px;

		.message {
			position: absolute;
			width: 100%;
			height: 50px;
			line-height: 50px;
			top: 0px;
			left: 0px;
			opacity: 0;
			color: #B3FBC4;
			font-weight: 500;
			font-size: 21px;
		}

		.loading {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -12px;
			margin-top: -12px;
			opacity: 0;
		}

		.error {
			color: #FBB3B3;
		}

	}
}

.p404 {
	background: url("@{static}/img/slide1-bgr.jpg") no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

	h1 {
		font-weight: bold;
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 200px;
		margin-bottom: 15px;
	}

	.desc{
		font-family: arial;
		font-size: 21px;
		font-weight: 500;
		width: 790px;
		margin: auto;
		text-align: center;
	}
}
