
#top-menu {
	height: 100px;
	background: rgba(0,0,0,0.7);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;

	#logo {
		cursor: pointer;
		width: 180px;
		height: 100px;
		background: url(/static/mainapp/img/logo.png) no-repeat center center;
		float : left;
		transition: background-color 0.2s linear;
		background-color: rgba(0,0,0,0);
		margin-right: 20px;
		margin-left:-15px;

		&:hover {
			background-color: #c5951c;
		}
	}

	ul {
		list-style: none;
		padding: 0px;

		li {
			display: block;
			float: left;
			margin-right: 20px;
			transition: background-color 0.2s linear, color 0.2s linear;
			background-color: rgba(0,0,0,0);
			z-index: 3;

			a {

				display: inline-block;
				height: 100px;
				line-height: 100px;
				padding : 0 10px;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff !important;
				text-decoration: none !important;
				cursor: pointer;

			}

			.submenu {
				opacity: 0;
				transform: translate(0, 0px);
				z-index: -1;
				height: 0px;
			}

			&:hover {

				background-color: #c5951c;

				.submenu {
					opacity: 1;
					transform: translate(0, 0);
					height: 35px;
				}

			}

			.down-arr {
				position: absolute;
				top: 70px;
				left: 50%;
				margin-left:-4px;
				font-size: 9px;
			}

		}

		ul.submenu {
			position: absolute;
			width: 100%;
			background: #c5951c;
			transition: all 0.3s ease;
			overflow: hidden;
			left: 0px;
			text-align: center;

			li {
				float: inherit;
				margin-right: 0px;
				display: inline-block;

				a {
					line-height: 35px;
					height: 35px;
					width: auto;
					color: #000 !important;
					text-transform: inherit;
					transition: color 0.2s linear;

					&:hover {
						color: #fff !important;
					}
				}

				&:hover {
					background-color: #000;
					color: #fff
				}
			}

		}

		.dot {
			color: #000 !important;
			position: relative;
			width: 20px;
			display: inline-block;
			background: rgba(0,0,0,0) !important;

			&::before {
				font-size : 50px;
				content: "\00b7";
				position: absolute;
				top: -5px;
				left: 4px;
				line-height: 4px;
			}
		}

	}

	#phone {
		font-size: 12px;
		float: right;
		margin-top: 5px;

		#free-call {
			text-align: right;
			color: rgba(255,255,255,0.5);
			font-family: arial;
			font-weight: 500;
		}

		#number {
			text-align: right;
			font-size: 21px;
			font-weight: 500;
			color: #fff;
		}

		i {
			color: rgba(255,255,255,0.5);
			font-family: arial;
			font-weight: bold;
			font-style: italic;
		}

		a {
			color: #f0ad0c !important;
			font-family: arial;
			border-bottom: dotted 1px #f0ad0c;
			margin-left: 5px;
			text-decoration: none !important;

			&:hover {
				border: none;
			}
		}
	}

}

@media screen and (max-width: 1200px) and (min-height: 1200px) {

	#section-1 {
		padding-top: 245px !important;
	}

	#top-menu {
		height: 200px;

		#logo {
			width: 300px;
			height: 200px;
			background: url(/static/mainapp/img/logo.png) no-repeat center center;
			//background-color: rgba(0,0,0,0);
			//margin-right: 20px;
			//margin-left:-15px;
			background-size: contain;

		}

		#phone {
			font-size: 18px;
			margin-top: 52px;
		}

		ul {

			li {
				a {
					line-height: 200px;
					height: 200px;
					font-size: 32px;
				}

				ul.submenu {
					li a {
						line-height: 80px;
						height: 80px;
					}
				}

				&:hover {

					.submenu {
						height: 80px;
					}

				}

				.down-arr {
					position: absolute;
					top: 160px;
					left: 50%;
					margin-left:-4px;
					font-size: 21px;
				}

			}

		}

	}

}
