.phone-absolute {
    position: absolute;
    z-index: 3;
    width: 265px;
    height: 551px;
    left: 50%;
    top: 50%;
    margin-top: -246px;
    margin-left: -482px;
    background: url("@{static}/img/mobile_terminal/slide-2-phone.png") no-repeat;
    transform: translate(0, 0);

    &.hidden {
        display: none;
    }
}

#mobile_terminal {
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
    }

    #slide-1 {
        z-index: 999;

        .bg {
            background: url("@{static}/img/mobile_terminal/main_bg.jpg") no-repeat center center;
            background-size: cover;
            position: relative;
        }

        .content-wrapper {
            position: absolute;
            width: 100%;
            height: 320px;
            margin-top: -160px;
            left: 0px;
            top: 50%;
        }

        h1 {
            font-size: 58px;
            text-align: center;
            font-weight: bold;
        }

        h3 {
            font-family: arial;
            font-size: 28px;
            font-weight: 500;
            text-align: center;
        }

        .info-btn {
            display: block;
            margin: auto;
            outline: none;
            height: 48px;
            border: none;
            background-color: #eeae00;
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;
            width: 300px;
            line-height: 48px;
            text-align: center;
            margin-top: 140px;
            transition: background-color 0.2s linear, color 0.2s linear;
            text-decoration: none;

            &:hover {
                background-color: #c5951c
            }
        }

    }

    .phone-section {
        .content-wrapper {
            width: 600px;
            margin: auto;
            padding: 0 0 0 130px;
        }

        .phone {
            width: 265px;
            height: 551px;
            position: absolute;
            transition: all 1.0s;
            left: -136px;
            top: 80px;
            background: url("@{static}/img/mobile_terminal/slide-2-phone.png") no-repeat;
            transform: translate(0, 0);
            z-index: 1;

            &.leave {
                transform: translate3d(0, -2500px, -1px);
            }

        }

        h2 {
            color: #000;
            font-size: 36px;
            font-weight: bold;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 15px;
        }

        p {
            color: #000;
            font-size: 16px;
            font-weight: 500;
        }

        .illustration {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: -1;

            .illustration-wrapper {
                position: absolute;
                width: 732px;
                height: 732px;
                top: 50%;
                left: 50%;
                margin-left: -346px;
                margin-top: -326px;
            }
        }

    }

    #slide-2 {
        .bg {
            background: url("@{static}/img/mobile_terminal/slide-2-bg.png") no-repeat center center #3d948f;
            background-size: cover;
        }

        .illustration {
            background: url("@{static}/img/mobile_terminal/gears.png") no-repeat center center;
        }

    }

    #slide-3 {
        z-index: 20;

        .bg {
            background: #2a595c;
        }

        .illustration {
            background: url("@{static}/img/mobile_terminal/hands.png") no-repeat center center;
        }

        h2 {
            padding-top: 18px;
        }
    }

    #slide-4 {
        .bg {
            background: url("@{static}/img/mobile_terminal/slide-2-bg.png") no-repeat center center #3d948f;
            background-size: cover;
        }

        .illustration {
            background: url("@{static}/img/mobile_terminal/clouds.png") no-repeat center center;
        }

        h2 {
            padding-top: 18px;
        }
    }

    #slide-5 {
        z-index: 20;

        .bg {
            background: #2a595c;
        }

        .illustration {
            background: url("@{static}/img/mobile_terminal/dishes.png") no-repeat center center;
        }

        h2 {
            padding-top: 18px;
        }
    }

    #slide-6 {

        .bg {
            background: url("@{static}/img/mobile_terminal/main_bg.jpg") no-repeat center center;
            background-size: cover;
            //position: relative;
        }

        .feedback {
            position: absolute;
            margin: 0px;
            width: 100%;
            top: 50%;
            left: 0px;
            margin-top: -290px;
        }

        /*h1.slide-header {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            width: 800px;
            margin: auto;
        }

        .price {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            float: left;
        }

        strong.price {
            font-size: 48px;
            margin-top: -13px;
            margin-left: 16px;
            font-weight: 600;
        }

        .price-wrapper {
            display: inline-block;
            margin-top: 45px;
            margin-bottom: 25px;
        }*/

    }

    #slide-7 {
        background: url("@{static}/img/main-page-bgr.png");
        z-index: 20;

        .full-size-wrapper {
            padding-top: 100px;
        }

    }

}
