#mobile_menu {
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
    }

    #slide-1 {
        z-index: 999;

        .bg {
            background: url("@{static}/img/mobile_menu/top-bg.jpg") no-repeat center center;
            background-size: cover;
        }

        h1 {
            font-size: 60px;
            font-weight: bold;
            color: #000;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 110px;
        }

        .tablet {
            background: url("@{static}/img/mobile_menu/tablet.png") no-repeat center center;
            width: 759px;
            height: 578px;
            margin: auto;
        }

        .info-btn {
            display: block;
            margin: auto;
            outline: none;
            height: 48px;
            border: none;
            background-color: #eeae00;
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;
            width: 300px;
            line-height: 48px;
            text-align: center;
            margin-top: 50px;
            transition: background-color 0.2s linear, color 0.2s linear;
            text-decoration: none;

            &:hover {
                background-color: #c5951c
            }

            margin-bottom: 20px;
        }

    }

    #slide-2, #slide-3, #slide-4, #slide-5 {
        background: #3498db;
    }

    #slide-2 {
        .illustration {
            width: 908px;
            height: 232px;
            margin: auto;
            background: url("@{static}/img/mobile_menu/slide-2-bg.jpg") no-repeat;
        }

        h2 {
            text-align: center;
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 15px;
            margin-top: 110px;
        }

        h3 {
            text-align: center;
            font-size: 24px;
            font-weight: lighter;
            margin-bottom: 40px;
        }

        ul {
            padding: 0px;
            list-style: none;
            padding-bottom: 20px;

            li {
                font-weight: 500;
                font-size: 18px;
                background: url("@{static}/img/mobile_menu/list-icons.png") 0px -2px no-repeat;
                height: 32px;
                line-height: 32px;
                padding-left: 36px;

                &[data-icon='2'] { background-position: 0px -32px; }
                &[data-icon='3'] { background-position: 0px -64px; }
                &[data-icon='4'] { background-position: 0px -96px; }
                &[data-icon='5'] { background-position: 0px -128px; }
                &[data-icon='6'] { background-position: 0px -160px; }

            }
        }
    }

    #slide-3 {
        text-align: center;

        h2 {
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 15px;
            margin-top: 110px;
        }

        h3 {
            font-size: 24px;
            font-weight: lighter;
            margin-bottom: 30px;
        }

        h4 {
            font-weight: 500;
            font-size: 48px;
        }

        .illustration {
            height: 346px;
            background: url("@{static}/img/mobile_menu/slide-3-bg-line.png") repeat-x,
                        url("@{static}/img/mobile_menu/slide-3-bg.png") center center no-repeat;
        }
    }

    #slide-4 {
        h2 {
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            margin-top: 100px;
        }

        .illustration {
            height: 505px;
        }

        #gallery {
            position: relative;
            width: 100%;
            margin: auto;
            cursor: pointer;

            .photo {
                width: 616px;
                height: 384px;
                position: absolute;
                left: 50%;
                top: 61px;
                margin-left: -308px;
                border-radius: 3px;
            }

            .slick-prev, .slick-next {
                position: absolute;
                display: block;
                border: none;
                outline: none !important;
                cursor: pointer;
                width: 64px;
                height: 64px;
                content: "" !important;
                border-radius: 50%;
                top: 230px;
                background: none;
                z-index: 999;
                transition: background-color 0.3s, opacity 0.3s;
                font-size: 0;
                background: url("@{static}/img/mobile_menu/slide-arrows.png") no-repeat;
                opacity: 0.5;

                &:hover {
                    background-color: rgba(255,255,255,0.2);
                    opacity: 1;
                }
            }

            .slick-prev { margin-left : -480px; left:  50%; background-position: 0 -64px;}
            .slick-next { margin-right: -480px; right: 50%; background-position: 0 0; }

            .slick-slide {
                outline: none !important;
                position: relative !important;
            }

            .tablet {
                background: url("@{static}/img/mobile_menu/transparent-tablet.png") center center no-repeat;
                width: 100%;
                height: 505px;
                position: absolute;
                top: 0px;
                left: 0px;
            }

            .hint-wrapper {
                width:737px;
                margin: auto;
                position: relative;
            }

            .hint {
                position: absolute;
                width: 340px;
                background: #fff;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
                right: -100px;
                top: 40px;
                z-index: 20;
                padding: 10px;
                cursor: default;

                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                    margin-top: 0px;
                    margin-bottom: 10px;
                    cursor: text;
                }

                p {
                    font-family: arial;
                    font-size: 12px;
                    color: #636466;
                    font-style: italic;
                    margin: 0px;
                    cursor: text;
                }
            }

        }

    }

    #slide-5 {
        h2 {
            font-size: 48px;
            font-weight: bold;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 80px;
        }
        text-align: center;
    }

    /* Footer */

    #slide-6 {

        .bg {
            background: url("@{static}/img/mobile_menu/top-bg.jpg") no-repeat center center;
            background-size: cover;
        }

        .feedback {
            position: absolute;
            margin: 0px;
            width: 100%;
            top: 50%;
            left: 0px;
            margin-top: -290px;
        }

    }

    #slide-7 {
        background: url("@{static}/img/main-page-bgr.png");
        z-index: 20;

        .full-size-wrapper {
            padding-top: 100px;
        }

    }

}
