#waiter_terminal {
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        right: 0px;
    }

    #slide-1 {

        .bg {
            background: url("@{static}/img/waiter_terminal/top-bg.jpg") no-repeat;
            background-size: cover;
        }

        h1 {
            font-size: 68px;
            line-height: 1;
            font-weight: bold;
        }

        h3 {
            font-weight: lighter;
            font-size: 32px;
            margin-bottom: 0px;
        }

        .info-btn {
            display: block;
            outline: none;
            height: 48px;
            border: none;
            background-color: #eeae00;
            color: #fff;
            font-weight: bold;
            font-size: 24px;
            cursor: pointer;
            width: 300px;
            line-height: 48px;
            text-align: center;
            margin-top: 50px;
            transition: background-color 0.2s linear, color 0.2s linear;
            text-decoration: none;

            &:hover {
                background-color: #c5951c
            }
        }

        .hand-wrapper {
            height: 100%;
            position: absolute;
            top: 0px;
        }

        .hand {
            position: absolute;
            width: 579px;
            height: 852px;
            background: url("@{static}/img/waiter_terminal/hand.png") no-repeat;
            bottom: 0px;
            top: auto;
            //bottom: 0px;
            left: 0px;
        }

        .col-xs-6, .row, .container {
            height: 100%;
            overflow: hidden;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 0px;
            height: 400px;
            margin-top: -200px;
        }
    }

    #slide-2 {
        background: #d05600;
        z-index: 20;
        position: relative;

        .wrapper {
            overflow: hidden;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            position: absolute;
        }

        .col-xs-6, .row, .container {
            height: 100%;
            position: relative;
        }

        .content {
            position: absolute;
            top: 50%;
            left: 0px;
            height: 400px;
            margin-top: -200px;
            padding: 15px;
            width: 480px;
        }

        .waiter {
            width: 570px;
            height: 703px;
            background: url("@{static}/img/waiter_terminal/waiter.png") no-repeat;
            position: absolute;
            left: -145px;
            bottom: -50px;
        }

        .phone {
            width: 431px;
            height: 641px;
            background: url("@{static}/img/waiter_terminal/phone.jpg") no-repeat;
            position: absolute;
            right: 0px;
            bottom: 0px;
            transition: all 1.5s;
            transform: translate3d(0, 0px, 0);

            &.leave {
                transform: translate3d(0, 641px, 0);
            }
        }

        h2 {
            font-size: 48px;
            font-weight: bold;
            margin-top: 75px;
        }

        h3 {
            font-size: 21px;
            font-style: italic;
            font-weight: 500;
            margin-bottom: 15px;
        }

        h4 {
            font-size: 30px;
            font-weight: 500;
            margin-top: 70px;
        }

        p {
            font-size: 14px;
            font-family: arial;
            font-weight: 500;
            opacity: 0.5;
        }
    }

    #slide-3 {
        background: #913e04;
        z-index: 20;
        position: relative;

        .phone-2 {
            background: url("@{static}/img/waiter_terminal/phone-2.jpg") no-repeat;
            width: 730px;
            height: 409px;
            left: 50%;
            top: 0px;
            margin-left: -365px;
            margin-top: 100px;
            position: absolute;

            .image {
                position: absolute;
                width: 153px;
                height: 270px;
                top: 50px;
                left: 290px;
            }
        }

        .phone {
            width: 730px;
            height: 409px;
            margin: auto;
            margin-top: 100px;
            position: relative;

            .image {
                position: absolute;
                width: 153px;
                height: 270px;
                top: 50px;
                left: 290px;
            }
        }

        .slick-prev, .slick-next {
            position: absolute;
            display: block;
            border: none;
            outline: none !important;
            cursor: pointer;
            width: 40px;
            height: 40px;
            content: "" !important;
            border-radius: 50%;
            border: 2px solid #fff;
            top: 421px;
            margin-left: -20px;
            background: none;
            z-index: 999;
            transition: background-color 0.3s;
            font-size: 0;

            &:hover {
                background-color: rgba(255,255,255,0.2);
            }
        }

        .slick-prev { margin-left : -146px; left:  50%; }
        .slick-next { margin-right: -147px; right: 50%; }

        #gallery-slick { position: relative }

        .slick-slide {
            outline: none !important;
        }

        h3 {
            font-size: 36px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            font-family: arial;
            font-weight: 500;
        }

        .container {
            width: 750px !important;
            text-align: center;
        }
    }

    #slide-4 {
        background: #d05600;
        z-index: 20;

        .container {
            text-align: center;
        }

        h2 {
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 90px;
        }
    }

    #slide-5 {

        .bg {
            background: url("@{static}/img/waiter_terminal/top-bg.jpg") no-repeat center center;
            background-size: cover;
            //position: relative;
        }

        .feedback {
            position: absolute;
            margin: 0px;
            width: 100%;
            top: 50%;
            left: 0px;
            margin-top: -290px;
        }

        /*h1.slide-header {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            width: 800px;
            margin: auto;
        }

        .price {
            font-size: 30px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            float: left;
        }

        strong.price {
            font-size: 48px;
            margin-top: -13px;
            margin-left: 16px;
            font-weight: 600;
        }

        .price-wrapper {
            display: inline-block;
            margin-top: 45px;
            margin-bottom: 25px;
        }*/

    }

    #slide-6 {
        background: url("@{static}/img/main-page-bgr.png");
        z-index: 20;

        .full-size-wrapper {
            padding-top: 100px;
        }

    }
}

@media screen and (max-height: 960px) {

    #waiter_terminal #slide-1 .hand {

        bottom: auto;
        top: 120px;
        left: 0px;

    }

}

@media screen and (max-height: 760px) {

    #waiter_terminal #slide-2 .waiter {

        bottom: auto;
        top: 120px;
        left: 0px;

    }

}
